services:
  foodchallenge_api:
    image: julianoliveira/foodchallenge-api
    container_name: foodchallenge_api
    build:
      context: ../../src/FoodChallenge
      dockerfile: ../../tools/docker/build/dotnet.web-api.Dockerfile
      target: final
    environment:
      ConnectionStrings__DPostgreSQL: ${ConnectionStrings__DPostgreSQL}
      Authentication__IssuerUrl: ${Authentication__IssuerUrl}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
    networks:
      - foodchallenge_network
    ports:
      - "5000:5000"

volumes:
  foodchallenge_data:
    driver: local

networks:
  foodchallenge_network:
    driver: bridge
    name: fiap_foodchallenge_network